.header{
  padding: 5rem;
  margin-top: 1rem !important;
  border-radius: 1rem !important;
  color: white;
  background-image: url(../../assets/bg4.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}